.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: #ffffff;
  gap: 20px;
  min-height: calc(100vh - 101px);
}

.flex {
  display: flex;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #2e2e2e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex: 2;
  align-self: flex-start;
}

.title {
  font-size: 2rem;
  color: #e74c3c;
  text-align: center;
}

.scene-text {
  margin: 15px 0;
  line-height: 1.6;
  /* text-align: center; */
  text-indent: 20px;
  font-size: 1.2rem;
}

.option-button {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.option-button:hover {
  background-color: #e74c3c;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  text-align: center;
  font-size: 1rem;
}

.restart-button {
  background-color: transparent;
  color: #e74c3c;
  padding: 8px 12px;
  border: 1px solid #e74c3c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.restart-button:hover {
  background-color: #e74c3c;
  color: #fff;
}

.enemy {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 20px;
  min-width: 250px;
  flex: 1;
}

.enemy img {
  max-width: 100%;
  border: 2px solid #521e18;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
